{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>

<title>Login Page</title>
<link rel="stylesheet" href="{% static 'css/create.css' %}">

<form class="box" method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Create Product</h1>
  <h4 style="color:red;">{{ error }}</h4>
  <input type="text" name="title" placeholder="Title">
  <input type="textbox" name="body" placeholder="Body">
  <input type="text" name="url" placeholder="Url">
  <input type="file" name="icon" placeholder="Icon">
  <input type="file" name="image" placeholder="Image">
  <input type="submit" name="submit" value="Upload"/>
</form>

{% endblock %}
